body, html, #appContainer {
    height: 100%;
}

.bgImg {
    background-image: url(../images/bgImgLanding.gif);
    height: 100%;

    position: relative;
    //opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    background-image: url(../images/icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    width: 60px;
    border: solid 2px black;
    float: left;
    height: 70px;
    margin: auto 0;
}

.cardLanding {
    position: fixed;
    /width: 400px;
    background-color: aqua;
    //height: 175px;
    top: 50%;
    left: 50%;
    margin-top: -52.5px;
    margin-left: -200px;
}

.cardLanding > h1 {
    color: black;
    padding: 30px 100px 35px 100px;
    border: solid 2px;
    border-bottom: 0px;
    margin: auto 0;
    height: 105px;
}

.cardLanding > a > p{
    color: white;
    border: solid 2px black;
    overflow: auto;
    float: left;
    margin: auto 0;
    width: 170px;
    height: 70px;
    background-color: black;
    padding: 20px 20px 0px;
}